h3{
    text-align: left;
    padding: 20px 0 0 0;
}
h6{
    text-align: left;
}

.btn-primary{
    background-color: #01A7C2;
    border-color: #01A7C2;
    color: #fff;
}
.btn-primary:active{
    background-color: #006989;
    border-color: #006989;
}

.text-area{
    text-align: left;
}

.mapa{
    padding: 20px 0;
}

.tabla-pedidos-mostrar{
    display: none;
}

/* Estilos para la tabla */
.tabla-pedidos {
    width: 100%; /* Opcional: para hacer que la tabla se extienda al ancho de su contenedor */
    border-collapse: collapse; /* Para combinar los bordes de las celdas */
    margin-bottom: 20px; /* Margen inferior para separar de otros elementos */
}

  /* Estilos para las celdas del encabezado */
.tabla-pedidos th {
    background-color: #f2f2f2; /* Fondo gris claro */
    text-align: left; /* Alineación del texto a la izquierda */
    padding: 10px; /* Espacio interno en las celdas del encabezado */
    border: 1px solid #ddd; /* Borde delgado */
}

  /* Estilos para las celdas de datos */
.tabla-pedidos td {
    padding: 8px; /* Espacio interno en las celdas de datos */
    border: 1px solid #ddd; /* Borde delgado */
}

  /* Estilo para las filas alternas (opcional) */
.tabla-pedidos tbody tr:nth-child(even) {
    background-color: #f7f7f7; /* Fondo gris claro para filas pares */
}