
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#referencia {
  resize: none;
}

h3{
  text-align: left;
  padding: 20px 0 0 0;
}

.mapa{
  padding: 20px 0;
}