
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#referencia {
  resize: none;
}

button{
  background-color: rgb(190, 190, 248);
  margin: 2%;
}

button:hover{
  background-color: rgb(124, 124, 234);
  margin: 2%;
}
