h3{
    text-align: left;
    padding: 20px 0 0 0;
}
h2{
    text-align: left;
    padding: 20px 0 0 0;
}
h6{
    text-align: left;
}

.btn-primary{
    background-color: #01A7C2;
    border-color: #01A7C2;
    color: #fff;
}
.btn-primary:active{
    background-color: #006989;
    border-color: #006989;
}

.text-area{
    text-align: left;
}