/* You can add global styles to this file, and also import other style files */
*{
  margin: 0;
  padding: 0;
}

/* Importa la fuente Montserrat desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* Aplica la fuente Montserrat a todos los elementos de la página */
body {
  background-color: #006989;
  font-family: 'Montserrat', sans-serif;
}
